/* General body styles */
body {
    font-family: Helvetica, Georgia, 'Times New Roman', Times, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /*border: 5px solid orange;*/

}
#top-header {
    position: absolute;
    top: 10px;
}
#second-header {
    position: absolute;
    top: 200px;
}   
.header-title{
    position: absolute;
    top: 500px;
}

/* Header styles */;
.header-img{
    /* background-color: #333; */
    min-width: 100vh;
    color: white;
}

.header-img h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    font-size: 150px;; 
    color: white;
    padding: -50%;
    font-style: bold;
    top: 23%; 
    left: 50%; 
    transform: translate(-50%, -50%);

}
.header-img h2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center;
    font-size: 55px;; 
    color: white;
    font-style: bold;
    text-decoration-color: white;
    text-shadow: 0.9px 0.9px rgb(51, 134, 134);
    transform: translate(-50%, -50%);
    text-align: center;
    top: 45%; 
    left: 50%;

}

.header-line{
    position: absolute; 
    top: 200px; 
    left: 50.1%; 
    transform: translate(-50%, -50%); 
    border-top: 3px solid white; 
    box-shadow: 0.9px 0.9px rgb(51, 134, 134);
    width: 30%;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.polo {
    width: 470px;
    padding-left: 60px;
    margin: 0 0 10px 25px;
    font-size: 12px;
    display: inline-block;
}

.text-plot {
    position: relative; /* Ajout de cette ligne */
    float: left;
    width: 400px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
}

.text-plot::before { /* Ajout de cette section */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.text-plot p { /* Ajout de cette section */
    position: relative;
    color: white;
    z-index: 2;
}

.left-img {
    float: left;
    width: 300px;
    padding: 5px;
    margin: 5px;
    text-align: center; 
    -moz-box-shadow: 1px 1px 3px #222;
    -moz-transform: rotate(-5deg);
    -webkit-box-shadow: 1px 1px 3px #222;
    -webkit-transform: rotate(-5deg);
    box-shadow: 1px 1px 3px #222;
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-right: 30px;
} 

.right-img {
    float: right;
    width: 300px;
    padding: 5px;
    margin: 5px;
    text-align: center; 
    -moz-box-shadow: 1px 1px 3px #222;
    -moz-transform: rotate(5deg);
    -webkit-box-shadow: 1px 1px 3px #222;
    -webkit-transform: rotate(-5deg);
    box-shadow: 1px 1px 3px #222;
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
} 

.plots {
    width: 45%;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
}
.text-container {
    display: flex;
    justify-content: space-between;
}
.plot-legend {
    text-align: center;
    font-size: 15px;
}
.double-plots-left{
    width: 40%;
    height: 400px;
    margin-right: 15px;
}

.double-plots-right{
    width: 40%;
    height: 400px;
    margin-left: 15px;
}

.plot-center{
    width: 60%;
    height: 450px;
    margin-right: 50px;
    margin-left: 50px;
}
h1 {
    text-decoration-color: white;
    text-shadow: 0.9px 0.9px rgb(51, 134, 134);
    text-align: center;
}


/* Navigation styles */
nav {
    list-style-type: none;
    background-color: #f0f0f0;
    padding: 14px 16px;
    float: right;
    margin-right: 50px;
}

.navbar {
    overflow: hidden;
    float: right ;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    
}

.navbar a {
    font-size: large; 
    font-weight: bold;
    color: #333;
    padding: 14px 16px;
    outline: none;
    background-color: inherit;
    border: none;

}

.subnav {
    overflow: hidden;
    display: inline-block;
  }

.subnav .subnavbtn {
    font-size: large; 
    font-weight: bold;
    color: #333;
    padding: 14px 16px;
    outline: none;
    background-color: inherit;
    border: none;

}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #555;
    color: white
  }

a {
    text-decoration: none;
    color: #333;
    padding:14px 16px;
    font-weight: bold;
    font-size: large;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 50%;
    background-color: #f0f0f0;
    transform: translateX(-50%);
  }
  
  /* Style the subnav links */
  .subnav-content a {
    color: #333;
    text-decoration: none;
    float: right;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #555;
    color: white
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
   display: block;
  }
/* Main content styles */
main {
    margin: 15px;
    color: #333;
    text-align: center;
}

.introo {
    margin-top: 77px;

}

.trip1 {
    margin-top: 77px;
}

.trip {
    margin-top: 30px;   
    margin-bottom: 30px; 
}
/* Section styles */
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* Article styles */
article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 20px;
    line-height: 1.5;

}
.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding: 0px;
    font-size: 20px;
    line-height: 1.5;

}
/* Footer styles */
footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    bottom: 0;
}

.team-members p {
    font-family: Helvetica, sans-serif;
    color: #333;
    text-align: center;
    font-size: 15px;
}

.figcaption {
    text-align: center;
}
